*{
    margin: 0%;
    padding: 0;
}

.card{
    width: 350px;
    height: 350px;
    background-color: #301958;
    color: #b68867;
    margin: auto;
    text-align: center;
    border: 3px solid #b68867;
    border-radius: 20px;

}


h4{
    padding-top: 120px;
    font-family: 'Lobster', cursive;
}

input {
    padding-left: 10px;
    width: 300px;
    height: 25px;
    font-size: 20px;
    border-radius: 50px;
  }